#notification-feed {
    box-sizing: border-box;
    height: 400px;
    overflow-y: hidden;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    width: 45%;
    margin-top: 50px;
}

/* Increase width when vertical with notification form */
@media screen and (max-width: 768px) {
    #notification-feed {
        width: 80%;
        margin-top: 0;
    }
}
