

#notification-feed {
    box-sizing: border-box;
    height: 400px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    margin-top: 50px;

}