

#notification-form-container {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

#notification-form-title {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
  padding-left: 15px;
}

#notification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
  gap: 15px;
  height: 100%;
}

#notification-message {
  height: 75px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
}

#notification-type {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 98%;
}


#send-notification-btn {
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  height: 2.5rem;
  width: 96%;
  margin-top: auto;
}

