.notification-card {
    box-sizing: border-box;
    height: 70px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 550;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.notification-card.alert {
    background-color: #ffcccb;
}

.notification-card.success {
    background-color: #90ee90;
}

.notification-card.info {
    background-color: #add8e6;
}

.notification-message {
    margin: 0;
}
